/* HERO SECTION */
.hero-family {
  height: 860px;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: linear-gradient(180deg, #ae3737 0%, #481717 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 90px;
  padding-left: 34px;
  padding-right: 34px;
  gap: 132px;
}
.hero-family .logo {
  z-index: 2;
  max-width: 170px;
}
.hero-family .content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero-family .content .family-icons {
  max-width: 170px;
  margin: 0 auto;
}
.hero-family-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.hero-family .hero-family-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.hero-family-info h2 {
  font-family: 'Lora', serif;
  color: white;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}
.hero-family-info p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}
.hero-family-info p > span {
  font-weight: 700;
  text-decoration: underline;
}
.novo-badge {
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 16px;
  width: fit-content;
  margin: 0 auto;
}
.activate-subscription-btn {
  background-color: #37ae37;
  font-family: 'Barlow', sans-serif;
  color: white;
  border: none;
  padding: 16px 28px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.activate-subscription-btn:hover {
  background-color: #237023;
}
/* CONTENT SECTION */

.content-family {
  display: flex;
  flex-direction: column;
  padding: 40px 16px 64px 16px;
  gap: 52px;
}
.content-family .title {
  font-family: 'Lora', serif;
  color: black;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
}
.content-family .steps {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.content-family .steps .step {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.content-family .steps .step .step-image {
  width: 100%;
  aspect-ratio: 1.426;
}
.step .step-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.step-content .step-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.step-content .step-title .circle {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  padding: 6pxgit 12px;
  background-color: #f1e3d7;
  border-radius: 100%;
  aspect-ratio: square;
}
.step-content .step-title h4 {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}
.step-content .step-description {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.step-content .step-description > span {
  color: #902e2e;
  font-weight: 600;
}
/* PRETPLATA WRAPPER */
.pretplata-family-wrapper {
  background-color: #f1e3d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 16px 60px 16px;
  gap: 48px;
}
.pretplata-title {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
}
.pretplata-subtitle {
  display: none;
}
.pretplata-packages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 700px;
}
.pretplata-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 870px;
}
.pretplata-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pretplata-pack {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dfdfdf;
  justify-content: space-between;
  height: 100%;
  border-radius: 9px;
  text-align: center;
  padding: 36px 28px;
  margin: 0px !important;
}
.pack-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 28px;
}
.discount-highlight {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 4px 8px;
  color: #478041;
  background-color: #e5ffe2;
  border: 1px solid #e5ffe2;
  border-radius: 4px;
}
/* Style label when radio is checked */
input[type='radio']:checked + label.pretplata-pack {
  border-color: #6d4726;
}

/* Style button when radio is checked */
input[type='radio']:checked + label.pretplata-pack .choose-btn {
  background-color: #37ae37;
  color: white;
}
.pack-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
}
.pack-price {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: black;
}
.pack-price span {
  font-weight: 600px;
  color: #9e9e9e;
}
.pack-benefits {
  border-top: 1px solid #dfdfdf;
  display: flex;
  width: 100%;
  padding-top: 15px;
  flex-direction: column;
  gap: 16px;
}
.single-benefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}
.single-benefit > svg {
  color: #8d5b31;
}
.pack-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 36px;
}
.choose-btn {
  width: 100%;
  background-color: black;
  font-family: 'Barlow', sans-serif;
  color: white;
  border-radius: 2px;
  padding: 18px 48px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pack-button-wrapper span {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #121212;
}
/* PAYMENT WRAPPER */
.pack-payment-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px 0px;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}
.pack-duration {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.pack-duration .duration-options {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pack-duration-title {
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #5f5f5f;
}
.radio-label {
  width: 100%;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.radio-label .title {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: black;
}
.radio-label .title > span {
  font-weight: 600;
  color: #ae3737;
}
.radio-label .description {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5f5f5f;
}
.outer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle {
  background-color: white !important;
  border: 6px solid black !important;
  width: 9px !important;
  height: 9px !important;
}

/* LOGIN WRAPPER */
.login-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-subtitle {
  display: none;
}

.loginContainer {
  display: flex;
  flex-direction: column;
}
.loginContainer input {
  align-items: center;
  padding: 12px 16px 12px 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5f5f5f;
  margin-bottom: 12px;
}
.loginContainer p {
  margin-top: 14px;
}
.remp-social-logbtn {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(249, 244, 239, 1);
  border-radius: 4px;
  padding: 10px 14px;
  width: 200px;
  height: 48px;
}
.termsContainer {
  flex-direction: column;
  align-items: center;
}
.promo-input-wrapper button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  color: #902e2e;
  font-family: 'Barlow', sans-serif;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s;
}
.promo-input-wrapper {
  position: relative;
  max-width: 300px;
}
.promo-input-wrapper p {
  position: absolute;
}
#payment-form button,
#payment-form .locked-newbtn {
  width: 100%;
  padding: 14px;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #ae3737;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}
#payment-form .locked-newbtn {
  background-color: #b5b5b5;
}
#login .remp-miniboxes {
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 28px;
  padding-bottom: 32px;
}
.remp-mini-text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #5f5f5f;
}
.promo-input-wrapper input[type='text'] {
  width: 100%;
  padding: 12px 100px 12px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  outline: none;
  transition: border-color 0.2s;
}

.promo-input-wrapper input[type='text']::placeholder {
  color: #999;
}

@media (min-width: 1024px) {
  /* HERO SECTION */

  .termsContainer {
    flex-direction: row;
    gap: 36px;
  }
  .hero-family {
    padding: 80px;
    gap: 121px;
  }
  .hero-family .logo {
    max-width: 280px;
  }
  .hero-family .content .family-icons {
    max-width: 196px;
  }
  .hero-family .content {
    max-width: 533px;
    margin: 0 auto;
    gap: 25px;
  }
  .hero-family .hero-family-info {
    gap: 32px;
  }
  .hero-family-wrapper {
    gap: 32px;
  }
  .hero-family-info h2 {
    font-size: 40px;
    line-height: 46px;
  }
  .novo-badge {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 24px;
  }
  /* CONTENT SECTION */

  .loginContainer {
    flex-direction: row;
    gap: 40px;
  }
  .loginContainer .emailInput {
    flex: 1;
    max-width: 350px;
  }
  .pack-duration {
    padding-right: 50px;
  }
  .pretplata-packages {
    flex-direction: row;
    gap: 60px;
    max-width: unset;
  }

  .pack-payment-wrapper {
    flex-direction: row;
  }
  .content-family {
    padding: 60px 0px 112px 0px;
    gap: 78px;
    width: 100%;
    max-width: 866px;
    margin: auto;
  }
  .content-family .title {
    font-size: 40px;
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }
  .content-family .steps {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .content-family .steps .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 102px;
  }

  .content-family .steps .step .step-image {
    max-width: 400px;
  }
  .even {
    flex-direction: row-reverse !important;
  }
  .step .step-content {
    gap: 20px;
  }
  .step-content .step-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
  }
  .step-content .step-title .circle {
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 100%;
  }
  .step-content .step-title h4 {
    font-size: 28px;
  }
  .step-content .step-description {
    font-size: 18px;
  }
  .step-content .step-description > span {
    color: #902e2e;
    font-weight: 600;
  }
}
