name: deploy

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Install packages
        run: |
          su marko
          cd /home/marko/pwa
          git pull
          npm run build
          pm2 reload Telegram
